* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  cursor: pointer;
}
.pointer {
  mix-blend-mode: difference;
  width: 80px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  /* top: 0; */
  transition: all ease 0.1s;
}

h1 {
  color: green;
}
